.main{
    background-image: url(https://img.freepik.com/free-photo/recording-technology-podcast-microphone-livestream-used-record-content-discussion-internet-channel-stream-sound-production-station-creative-onlien-broadcast-close-up_482257-43446.jpg?t=st=1711981093~exp=1711984693~hmac=8178d96d6441d3ae7fc85bd8edd089ceaae50d51cc0cd16df97f156029b3ce36&w=740);
    height: 70vh;
    width: 100vw;
    background-size: cover;
}
.cc{
    text-align: start;
    
}