.custom-button{
    width: 100px;
    height: 50px;
    color: white;
    background-color: #d0b200;
    border-width:10 ;
    border-radius: 10PX;
    margin-right: 10PX;
    border-style: none;

}

