.box{
    height: 400px;
    width: 350px;
}
img{
    height: 250px;
    width: 290px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
.BANNER{
    text-align: center;
    background-size: cover;
    text-decoration-line: underline;
    background-color: azure;
}

